.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes gradientShift{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-name {
  background: linear-gradient(270deg, #ff0080, #ff8c00, #ff0080);

  background-size: 400% 400%;
  animation: gradientShift 4s infinite ease-in-out;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-decoration: none;
  margin-left: 120px;
  margin-top: 400px;
  font-family: Gabarito, sans-serif;

}

.App-header {
  background-color: #230932;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(50px + 2vmin);
}
