.App {
  text-align: center;
}
/* Name animation */
@keyframes gradientShift{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Name styling */
.App-name {
  background: linear-gradient(270deg, #750bd9, #9e58e4d8, #eb51d1);

  background-size: 400% 400%;
  animation: gradientShift 5s infinite ease-in-out;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  margin-left:350px;
  margin-top: 150px;
  font-family: Gabarito, sans-serif;
  font-size: 3rem;

}

/* Background styling */
.App-header {
  background: linear-gradient(200deg, #ffd6e8, #fbb8d4, #fca9ca);
  min-height: 100vh;
  min-width: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;

 
}


/* Image styling */
.Profile-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(186, 11, 230);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-left:350px;
}
/* Layout: profile-info and rectangle side by side */
.Profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(4px, 15vw, 100px);
}

/* Stack image and name vertically */
.Profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Rectangle {
  width: 700px;
  height: 900px;
  background: linear-gradient(270deg, 270deg, #5a00b3, #ec3ae9c8, #cf0a94);

  background-color:  #ee99cf;
  border: 4px solid rgb(186, 11, 230);
  border-radius: 8px;
  margin-right: 400px;
}


