.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Name animation */
@keyframes gradientShift{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Name styling */
.App-name {
  background: linear-gradient(270deg, #ff0080, #ff8c00, #ff0080);

  background-size: 400% 400%;
  animation: gradientShift 4s infinite ease-in-out;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-decoration: none;
  margin-left: 120px;
  margin-top: 150px;
  font-family: Gabarito, sans-serif;

}

/* Background styling */
.App-header {
  background-color: #230932;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(50px + 2vmin);
}

/* Image styling */
.Profile-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(142, 88, 157);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-left: 120px;
}